<% unless flash[:notice] %>
Please enter your email address so that we can send you a unique code to reset your password.
<form action="/forgotten_password" method="post">
Email: <input name="email_forgotten_password" type="text" value="Enter your email address.">
<input type="submit" value="Submit">
</form>
<% else %>
	<%= flash[:notice] %>
<% end %>