Please enter your email address so that we can send you a unique code to reset your password.
<form action="/email_token" method="post">
Email: <input name="email_forgotten_password" type="text" value="Enter your email address.">
</form>