Please enter your new password.
<form action='/users/reset_password/<%= @token %>' method='post'>
Password: <input name='new_password' type='password'>
Confirm password: <input name='confirm_new_password' type='password'>
<input type='submit' value='Submit'>
</form>